In [3]:
x = 't \n xx\nsy'

In [4]:
print(x)

t
 xx
sy

In [5]:
sum, diff = 1+2 , 4-1

In [ ]:
print(sum,diff)

In [10]:
x, y = 1,2

In [11]:
print(x,y)

1 2

In [13]:
x,y = y,x

In [14]:
print(x,y)

2 1

In [16]:
for i in [0,1,2,3]:
    print(i)

0
1
2
3

In [27]:
for odd in [1,3,5,7]:
    print(odd*odd)

1
9
25
49

In [28]:
range(10)

range(0, 10)

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(4,5)  ###  {로 감싸지 않으면  syntax 에러가 발생함}

TypeError: list() takes at most 1 argument (2 given)

In [50]:
list({4,4,5})

[4, 5]

In [52]:
for i in range(4):
    print(i)

0
1
2
3

In [59]:
answer =[]
for i in range(1,10):     # 1부터 10 전까지 루프  1~9
    answer.append(str(i))  ## 1~9 까지 루프를 도는데 각 숫자를 answer 뒤에 스트링형으로 계속 넣어준다

In [60]:
print(answer)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [72]:
type(3.33)    ## type()     ()안의 데이터 타입을 출력해준다

float

In [75]:
x = 3.333333333333333333333333333333333333333333333333333333

In [76]:
type(x)

float

In [77]:
print(x)

3.3333333333333335

In [95]:
10/3

3.3333333333333335

In [96]:
10//3

3

In [10]:
x ,y= 10//3 , 10/3

In [11]:
type(x)

int

In [102]:
type(y)

float

In [103]:
True

True

In [104]:
type(True)    ## boolean 형 데이터

bool

In [2]:
def main():
    n = eval(input('plase enter a shole number:'))
        
    fact = 1 
    for factor in range(n,1,-1):
        fact = fact*factor
    
    print("the factorial of", n, "is", fact)

In [3]:
main()

plase enter a shole number:

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [4]:
main()

plase enter a shole number:3
the factorial of 3 is 6

In [5]:
16**0.5

4.0

In [6]:
12**2

144

In [13]:
x = 'Hello Bob'

In [14]:
x[1]

'e'

In [15]:
x[-3]

'B'

In [17]:
x[0:3]  ## 3 전 까지만  0 1 2

'Hel'

In [18]:
x[:5]

'Hello'

In [19]:
x[5:]

' Bob'

In [22]:
x[:-1]

'Hello Bo'

In [23]:
x[:]

'Hello Bob'

In [24]:
x[0:-3]

'Hello '

In [25]:
'a'+ 'b'

'ab'

In [26]:
'a'*4

'aaaa'

In [28]:
len(range(0,4))

4

In [3]:
def main2():
    first = input('please enter your first name(all lowercase): ')
    last  = input('please enter your last name(all lowercase): ')
    

    print('your name = ',first[0]  +  '.'  + last[:7])

In [4]:
main2()

please enter your first name(all lowercase): jon
please enter your last name(all lowercase): doe
your name =  j.doe

In [7]:
first = input('please enter your first name(all lowercase): ')
last  = input('please enter your last name(all lowercase): ')
    

print('your name = ',first[0]  +  '.'  + last[:7])

please enter your first name(all lowercase): jon
please enter your last name(all lowercase): doe
your name =  j.doe

In [8]:
a= 'hello string method'

In [9]:
a.split()

['hello', 'string', 'method']

In [10]:
list('asd')

['a', 's', 'd']

In [11]:
x = 'hello'

In [14]:
y = x + ' world'

In [15]:
y

'hello world'

In [16]:
'ham' in 'hamsandwich'

True

In [17]:
'x' in 'ham'

False

In [24]:
x = ['aassdd', 1,  4.00,  'ads']
x

['aassdd', 1, 4.0, 'ads']

In [25]:
x.append(5)
x

['aassdd', 1, 4.0, 'ads', 5]

In [26]:
x.insert(1, 3.141592)
x

['aassdd', 3.141592, 1, 4.0, 'ads', 5]

In [27]:
x.pop(1)
x

['aassdd', 1, 4.0, 'ads', 5]

In [1]:
list('ham')

['h', 'a', 'm']

In [2]:
x= 'ham'

In [3]:
y = list(x)
y

['h', 'a', 'm']

In [4]:
y=[]
y.append('ham')
y

['ham']

In [6]:
[2,5,7] == [2,5,7]

True

In [8]:
{2,5,7} == [2,5,7]

False

In [11]:
def main3():
    months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug','sep','oct','nov','dec']
    n = eval(input('enter a month number(1-12):'))
    print('the month abbreciation is ',months[n-1] + '.')

In [12]:
main3()

enter a month number(1-12):3
the month abbreciation is  mar.

In [27]:
x = ('a',)
x

('a',)

In [22]:
type(x)

tuple

In [29]:
s1 = {1,2,3}

In [30]:
s2 = set({1,2,3,4})

In [31]:
s1

{1, 2, 3}

In [32]:
s2

{1, 2, 3, 4}

In [35]:
s3 = set('Helloooo')
s3

{'H', 'e', 'l', 'o'}

In [36]:
t1 = (1,2,3)

In [37]:
t2 = list(t1)

In [39]:
t2[2]

3

In [41]:
dic = { 'name':'pey', 'phone':'001120004', 'brith':'1118'}

In [43]:
dic

{'name': 'pey', 'phone': '001120004', 'brith': '1118'}

In [44]:
dic["name"]

'pey'

In [45]:
a= { 1: 'a'}

In [46]:
a[2] = 'b'

In [47]:
a

{1: 'a', 2: 'b'}

In [48]:
a[3] = [1,2,3]

In [49]:
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [50]:
mail = 0
if mail:
    print( 'mail 이 0이 아니면 T라서 얘 출력')
else:
    print("mail이  0 이면 F 니까 얘출력")

mail이  0 이면 F 니까 얘출력

In [51]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

In [52]:
s2-s1

{7, 8, 9}