In [1]:
class t1:            ### 자바랑 비슷 한 느낌?
    a = 1
    b=2

In [14]:
c = t1.a +t1.b
c

3

In [23]:
class t2:
     a = True

In [24]:
t2.a = False           ###     ??? 클래스 안의 변수 바꿔버림,,....모듈화 안되나?   오버라이딩 개념??
t2.a

False

In [25]:
t2.a

False

In [26]:
class t3:
    d = t1.a         ## 이걸로 상속의 개념까지 다 포함 할 수 있???

In [27]:
t3.d

1

In [77]:
class rectan:
    def vari(x,y,h,w):
        x1, y1, h1, w1 = x,y,h,w                      ###   ㅇㅅㅇ ;;;     rectangle class
        for j in range(y1):
            print()
        for i in range(h1):
            print(' '*x1,'*'*w1)

In [78]:
rectan.vari(3,4,4,3)

    ***
    ***
    ***
    ***

In [111]:
class BaseClass(object):
    def printHam(self):                           ## 상속의 개념
        print('ham')

In [117]:
class InheritingClass(BaseClass):
    pass

In [120]:
x=InheritingClass()
x.printHam()

ham

In [11]:
class Hero:
    def __init__(self,name):        ## __init__  인데 __ 뺴면 소스가 안됨 ..   special naming  ??   
        self.name = name            ###   __init__  이 메서드가 파이썬 빌트인 디폴트 값 설정 메소드   instance variable
        self.heath =100
    def eat(self,food):
        if(food=='apple'):
            self.heath -=100
        elif(food=='ham'):
            self.heath += 20

In [12]:
bob = Hero('bob')
print(bob.name)
print(bob.heath)
bob.eat('ham')
print(bob.heath)

bob
100
120

In [13]:
class Service:
    secret = 'ㅇㅅㅇ;;;'                         ####   __init__  없네..?     class variable   
    def sum(self,a,b):
        result =a+b
        print('%s +%s = %s '%(a,b,result))              ### %s    string 으로 refomating 한거임   숫자인데  string

In [14]:
pey = Service()
pey.sum(1,1)

1 +1 = 2

In [14]:
class Service:
    def __init__(self,name):
        self.name = name
    def sum(self, a,b):
        result = a+b
        print(result,self.name)

In [15]:
pey = Service('홍길동')
pey.sum(1,3)

4 홍길동

In [20]:
def Volum(x,y,z):
    return x*y*z
def Volum2(x,y,z):
    return x*y*z+1
def Test():
    print('my auto mobile volum is',Volum(10,15,20))
    print('my auto mobile trank volum is',Volum2(10,15,20))

In [21]:
Test()

my auto mobile volum is 3000
my auto mobile trank volum is 3001

In [29]:
class Automobile:
    def __init__(self, wid, hei, leng):
        self.wid = wid
        self.hei = hei
        self.leng = lengre
        print('a new automobile instance is allocated')
    def coumpute(self():
        return self.w)id*self.wid*self.leng
    
class Fickup(Automobile):
    def __init__(self, wid, hei , leng ,loading_ar):
        Automobile.__init__(self, wid, hei ,leng)
        self.loading_ar = loading_ar
    def compute1(self):
        return self.wid * self.hei *self.leng +self.loading_ar

def test():
    my_car = Automobile(10,15,25)
    your_car = Fickup(10,15,25,1000)
    print('your car is', my_car.coumpute())
    print('your car is', your_car.compute1())

In [30]:
test()

a new automobile instance is allocated
a new automobile instance is allocated
your car is 2500
your car is 4750

In [211]:
class Deposit:
    def __init__(self,balance):
        self.balance = balance
    def plus(self, pl):
        self.balance +=pl
        return self.balance
    def minus(self , mi):
        self.balance -= mi
        return self.balance

In [212]:
mycash = Deposit(100)              ###  balancd 에 100을 추가함
mycash.plus(100)                ###  a 에 balance 에 20 을 추가한 120을 저장함
mycash.minus(20)               ###  b 에 balance 에 30 을 뺀 70을 저장 할것 같지만 클래스 내에 저장된 balance가 120으로 바뀌었기 때문에
                                  ####    90을 출력함

180

In [1]:
class Deposit2:
    def __init__(self):
        self.balance = 0
    def plus(self, pl):
        self.balance +=pl
        return self.balance
    def minus(self , mi):
        self.balance -= mi
        return self.balance

In [20]:
class Banck(Deposit2):
    def __init__(self, mini):
        Deposit2. __init__(self)
        self.mini = mini
    def minus(self , mi):
        if self.balance - mi < self.mini:
            print('돈이 없어서 못뽑아')
        else:
            Deposit2.minus(self , mi)

In [245]:
class Banck(Deposit2):
    def __init__(self, mini):
        Deposit2. __init__(self)
        self.mini = mini
        
        return self.balance

In [21]:
bcash = Banck(50)
bcash.plus(300)
bcash.balance
bcash.minus(350)
bcash.balance

돈이 없어서 못뽑아

300

In [232]:
bcash = Banck(50)
bcash.plus(100)
bcash.minus(3)

In [110]:
class Foo:
    def __init__(self):
        self.he =100 

class SubFoo(Foo):
    def __init__(self):
        super().__init__()
        self.mu = 200

In [111]:
a = SubFoo()
a.he , a.mu

(100, 200)

In [161]:
class a:
    pass
class b(a):
    pass
class c(a):
    pass


a.__subclasses__()

[__main__.b, __main__.c]

In [186]:
class Parkhouse:
    lastname = '박'
    def __init__(self, name):
        self.full = self.lastname  + name
    def travel(self ,where):
        print(self.full ,'놀러감',where,'으로')

In [187]:
a = Parkhouse('이름')
a.travel('태국')

박이름 놀러감 태국 으로

In [188]:
class Kimhouse(Parkhouse):
    lastname = '김'

In [194]:
a = Kimhouse('이름')
a.travel('미국')

김이름 놀러감 미국 으로

In [203]:
class Kimhouse2(Parkhouse):
    lastname = '김'
    def travel(self ,where, days):
        print(self.full ,'놀러감',where,'으로', days ,'일 가네')

In [204]:
a = Kimhouse2('이름')
a.travel('미국',3)

김이름 놀러감 미국 으로 3 일 가네

In [7]:
import sys
sys.getrefcount(0)   ##파이썬 내에서 0을 포인팅 하고 있는 숫자

4403